<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MclientUI</title>


    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">

</head>
<body>

<center>
    <div class="container">


            </p>
            </p>
            <h1>Application Medisceen</h1>
             <h2>Patients List</h2>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>id</th>
                <th>Family Name</th>
                <th>Given Name</th>
                <th>Birth of date</th>
                <th>Sex</th>
                <th>Address</th>
                <th>Phone</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patientDTO : ${patientDTOS}" >
                <td th:text="${patientDTO.id}"></td>
                <td th:text="${patientDTO.familyName}"></td>
                <td th:text="${patientDTO.givenName}"></td>
                <td th:text="${patientDTO.dateOfBirth}"></td>
                <td th:text="${patientDTO.sex}"></td>
                <td th:text="${patientDTO.address}"></td>
                <td th:text="${patientDTO.phone}"></td>
            </tr>
            </tbody>
        </table>


    </div>
</center>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>