<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>ClientUI Patient Add</title>

    <link rel="stylesheet" type="text/css" href="http://localhost:8080/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
</head>

<body>
<div class="container" >
    <div class="row">
        <div class="col-9 text-left" >
            <img src="http://localhost:8080/images/logo.jpg" />
        </div>
    </div>
</div>

<div class="container" >
    <nav class="navbar navbar-dark bg-cian text-white" style="background-color: #2e99b6;">
        <div class="row">
            <div class="col-md-4 align-right">
                <a class="nav-link text-white"  href="/">Home</a>
            </div>
            <div class="col-md-4">
                <a class="nav-link text-white"  href="#">Notes</a>
            </div>
            <div class="col-md-4">
                <a class="nav-link text-white"  href="/patient/list?stringSearch=">List</a>
            </div>
        </div>
    </nav>
</div>
<div class="container" style="margin-top: 20px; margin-right: 20px; width: 60%">

    <div class="row">
        <div class="form-group">
            <div align="center" class="text-info" style=" font-weight: bold; font-size:1em">
                <p class="text-alert" >Liste des mots clés à utiliser pour l'élaboration de l'évaluation des risques du diabète</p>
                <p class="text-warning">  "Hémoglobine A1C", "Microalbumine", "Taille", "Poids", "Fumeur" </p>
                <p class="text-warning"> "Anormal", "Cholestérol", "Vertige", "Rechute", "Réaction", "Anticorp"</p>
            </div>
            <h2>Add New Note</h2>
            <br>
            <div th:if="${patientId}" th:utext="${patientId}"
                 style=" color:blue; font-style:italic ; font-weight: bold; font-size:1.4em"> </div>
        </div>
    </div>
    <div class="row">
        <form action="Post" th:action="@{/patHistory/validate}" th:object="${patientHistoryDTO}" method="post" class="form-horizontal" style="width: 100%">

            <input type="hidden" th:field="*{patientId}" id="patientId"   class="form-control col-4">
            <!-- date  -->
            <div class="form-group">
                <!--   <label for="date" class="col-sm-1 control-label">Date</label>  -->
                   <div class="col-md-10">
                       <SCRIPT LANGUAGE="JavaScript">
                        var today =new Date().toISOString().split("T")[0];
                            document.getElementById("date").setAttribute("max", today);
                            document.getElementById("date").setAttribute("placeholder", today)
                        </SCRIPT>

                       <input type="date"  min="1900-01-01"  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                              required th:field="*{date}" id="date"   class="form-control col-4">
                       <p class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></p>
                       <div th:if="${msgAlertDate}" th:utext="${msgAlertDate}" class="text-danger" style="font-size:1em"> </div>
                   </div>
               </div>
               <!-- note  -->
            <div class="form-group">
                <!--  <label for="notes" class="col-sm-1 control-label">Notes</label>  -->
                  <div class="col-md-10">
                      <textarea type="text" style="height:200px;" th:field="*{notes}"
                                id="notes" placeholder="notes"  class="form-control col-8" required>
                          </textarea>
                      <p class="text-danger" th:if="${#fields.hasErrors('notes')}" th:errors="*{notes}"></p>
                  </div>
              </div>

              <br>
              <!-- Buttons validation / cancel  -->
            <div class="form-group">
                <div class="col-md-8">
                    <input class="btn btn-primary btn-sm" type="submit" value="Add Notes">
                    <a class="btn btn-danger btn-sm" th:href="@{/patHistories/{id}(id=${patientId})}">Cancel</a>
                </div>
            </div>


        </form>
    </div>

</div>
</body>
</html>
