<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>ClientUI Patient History Note</title>

    <link rel="stylesheet" type="text/css" href="http://localhost:8080/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
</head>

<body>
<div class="container" >
    <div class="row">
        <div class="col-9 text-left" >
            <img src="http://localhost:8080/images/logo.jpg" />
        </div>
    </div>
</div>

<div class="container" >
    <nav class="navbar navbar-dark bg-cian text-white" style="background-color: #2e99b6;">
        <div class="row">
            <div class="col-md-4 align-right">
                <a class="nav-link text-white"  href="/">Home</a>
            </div>
            <div class="col-md-4">
                <a class="nav-link text-white"   href="/patient/list?stringSearch=" >Patients</a>
            </div>
            <div class="col-md-4">
                <a class="nav-link text-white"  th:href="@{/patReport/{patientId}(patientId=${patientId})}">Report Assessment</a>
            </div>
        </div>
    </nav>
</div>
<div class="container" style="...">

    <div class="col-12 text-center"><h2>Patient Note History</h2></div>
        <br>
        <div th:if="${message}" th:utext="${message}" class="text-info text-center"
             style=" font-weight: bold; font-size:1.2em"> </div>
        <div th:if="${patientId}" th:utext="${patientId}" style=" color:blue; font-weight: bold; font-size:1.4em"></div>
</div>
</div>
<br/><br/>
<div class="container" style="...">
    <div class="row">
        <a th:href="@{/patHistory/add/{id}(id=${patientId})}" class="btn btn-primary btn-sm">Add New Note</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Id Patient</th>
                <th>Date</th>
                <th>Notes</th>
            </thead>
            <tbody>
            <tr th:each="patientNotes : ${patientHistories}">
                <td style="width: 10%" th:text="${patientNotes.id}"></td>
                <td style="width: 8%" th:text="${patientNotes.patientId}"></td>
                <td style="width: 10%" th:text="${patientNotes.date}"></td>
                <td style="width: 55%" th:text="${patientNotes.notes}"></td>
                <td style="width: 30%" class="text-center">
                    <a th:href="@{/patHistory/update/{id}&{patientid}(id=${patientNotes.id},patientid=${patientNotes.patientId})}"
                                                                            class="btn btn-info btn-sm">Edit</a>
                    <a th:href="@{/patHistory/delete/{id}&{patientid}(id=${patientNotes.id},patientid=${patientNotes.patientId})}"
                       class="btn btn-warning btn-sm" onclick="return confirm( 'Are you sure you want to delete this item??')">
                                Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>